NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="pk_test_XXXXXXXXXX"
STRIPE_SECRET_KEY="sk_test_XXXXXXXXXX"
NEXT_PUBLIC_STRIPE_PRICE_ID="your-one-time-price-id"
NEXT_PUBLIC_STRIPE_SUBSCRIPTION_PRICE_ID="your-subscription-price-id"
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY="pk_test_dmFsdWVkLXRlcm1pdGUtMzguY2xlcmsuYWNjb3VudHMuZGV2JA"
